[submodule "Assets/PrivateFolder"]
	path = Assets/PrivateFolder
	url = https://github.com/KikunoSatoshi/GitSubmodulePracticePrivateFolder.git
[submodule "Assets/PrivateFolder2"]
	path = Assets/PrivateFolder2
	url = https://github.com/KikunoSatoshi/GitSubmodulePracticePrivate2.git
[submodule "b"]
	path = b
	url = https://github.com/KikunoSatoshi/b.git
